extends layout

block content
  .container.center
    .section-1
      img.husky-image(src="/faucet/images/logo_testnet.png")

    .section-2
      h1.title= title
      span
        | Get CCC for the Saluky test network
    hr
    .section-3
      h2.steps Follow the steps
      p
        | 1. Post "!{marketingText}" with your CodeChain address on Twitter / Facebook (make sure it's public).
        br
        | See examples:
        | <a target="_blank" href="!{twitterExampleURL}"">Twitter</a> / 
        | <a target="_black" href="!{facebookExampleURL}">Facebook</a>
        br
        br
        | 2.  Copy-paste the post's URL into the input box, and click the "Get CCC" button.
        br
        | <a target="_black" href="https://www.facebook.com/help/community/question/?id=282662498552845">How to copy the URL of a Facebook post</a>
        br
        img#tweet-button(src='/faucet/images/tweet-button.png')
        img#fb-button(src='/faucet/images/fb-button.png')
    hr
    .section-4
      div#recaptcha.g-recaptcha(
        data-sitekey=recaptchaSiteKey,
        data-callback="onCaptchaSuccess",
        data-size="invisible"
      )
      .input-popover
      input#sns-url.form-control(type="text", name="sns-url" placeholder="Paste your post's URL")
      a#sns-button.btn.btn-blue Get CCC
      a.refresh(href="./", style="display: none;") Refresh
    .section-5
      h2 <i class="fas fa-exclamation-triangle"></i> Caution
      p
        | The CCC obtained through this website should only be used for testing purposes.
        | If CCC is removed from your account without notification, please visit this page again to receive additional CCC.

